@model IEnumerable<app02.Models.Entidades.Titulo>

@{
	ViewData["dataini"] = DateTime.Now;
	ViewData["datafim"] = DateTime.Now;
}


<h2>Index</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>

<form class="navbar-form navbar-left"  asp-action="FindbyDate">
	<div class="form-group">
			<label for="dataini">Data Inicial</label>
			<input type="date" class="form-control" name="dataini" value=@ViewData["dataini"] />
		    <label for="datafim">Data Final</label>
			<input type="date" class="form-control" name="datafim" value=@ViewData["datafim"] />
			<button type="submit" class="btn btn-primary">Filtro por Vencimento</button>
	</div>
</form>
	
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Documento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Valor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Emissao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Vencimento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cliente)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Documento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Valor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Emissao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Vencimento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cliente.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
					<a asp-action="Payment" asp-route-id="@item.Id">Payment</a>
				</td>
			</tr>
		}
	</tbody>
</table>
